* {
	padding: 0;
	margin: 0;
	border: none;
}

.wrapper {
    padding: 0 10%;
    margin: 0 auto;
    box-sizing: border-box;
}
/* ------------------------------------------ */
.header {

}
.header__title {
    font-size: 3rem;
    text-align: center;
}
/* ------------------------------------------ */
.main {
    
}
.main__mem {
    width: 100%;
    margin: 0 auto;
}
.main__mem:not(:last-child) {
    border-bottom: .1rem solid black;
}
.mem__input {
    appearance: none;
    -webkit-appearance: none;

    display: block;
    width: 0;
    height: 0;
}
.mem__label {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3% 1.5%;
}
.mem__title {
    font-size: 2rem;
    transition: all .8s ease 0s;
}
.mem__button {
    transition: all .8s ease 0s;
}
.mem__label-image{
    cursor: pointer;
    display: block;
    text-align: center;
}
.mem__image {
    width: 0;
    height: 0;
    text-align: center;

    transition: all .8s ease 0s;
}
/* ------------------------------------------ */
.mem__input:checked~label .mem__image{
    width: 30%;
    height: 30%;
}
.mem__input:checked~label .mem__button {
    transform: rotate(45deg);
}
/* ------------------------------------------ */
.footer {
}
/* ------------------------------------------ */
@media (hover:hover) {
    .mem__title {
        color: blue;
    }
    .main:hover .mem__title {
        color: black;
    }
    .mem__input:checked~label .mem__title {
        color: black;
    }
    .mem__input:checked~label .mem__button {
        width: 1.5rem;
        height: 1.5rem;
        background-image: url('./assets/icons/button.svg');
        background-size: 1.5rem 1.5rem;
        background-position: center;
        background-repeat: no-repeat;
        transform: rotate(45deg);
        transition: all .8s ease 0s;
    }
    .mem__input:checked~label .mem__image{
        opacity: 1;
    }
    .main:hover .mem__button {
        width: 1.5rem;
        height: 1.5rem;
        background-image: url('./assets/icons/button.svg');
        background-size: 1.5rem 1.5rem;
        background-position: center;
        background-repeat: no-repeat;
    
        transition: all .8s ease 0s;
    }
    .main__mem:hover .mem__image{
        width: 30%;
        height: 30%;
    }
    .main__mem:hover .mem__button {
        transform: rotate(45deg);
    }
    .main__mem:active .mem__image{
        opacity: .5;
    }
    .main__mem:active .mem__title {
        color: blue;
    }
    .main__mem:active .mem__button {
        width: 1.5rem;
        height: 1.5rem;
        background-image: url('./assets/icons/button-blue.svg');
        background-size: 1.5rem 1.5rem;
        background-position: center;
        background-repeat: no-repeat;
        transform: rotate(45deg);
        transition: all .8s ease 0s;
    }
}